{% extends 'base.html' %} {% block content %}
<div class="container">
<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Zona</th>
      <th scope="col">Visitabile</th>
      <th scope="col">Viva</th>
      <th scope="col">Giorno Piantumazione</th>
    </tr>
  </thead>
  <tbody>
    {% for plant in data %}
    <tr class="clickable-row" data-href="http://127.0.0.1:5000/detail/id_pianta={{ plant.id }}">
      <td>{{ plant.nome_pianta }}</td>
      <td>{{ plant.zona_giardino }}</td>
      <td>{{ "si" if plant.visitabile == 1 else "no" }}</td>
      <td>{{ "si" if plant.viva == 1 else "no" }}</td>
      <td>{{ plant.giorno_piantumazione }}</td>
    </tr> 
    {% endfor %}
  </tbody>
</table>
</div>

<div class="container text-center mt-5">
  <a href="/"><h4>Torna all home</h4></a>
</div>

<script>
  jQuery(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}
